/*@import "~materialize-css/dist/css/materialize.min.css";*/
*{
    font-family: sans-serif !important;
}
body {
    background-color: #121212;
}

.input-field input:focus + label {
    color: #E1E1E1 !important;
}

/* label underline focus color */
.input-field input:focus {
    border-bottom: 1px solid #E1E1E1 !important;
    box-shadow: 0 1px 0 0 #E1E1E1 !important;
}
.input-field input {
    padding-left: 10px !important;
}

.input-field input {
    color: #E1E1E1 !important;
}
/* Chrome та Safari */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%);
}


.select-dropdown {
    background-color: #121212 !important;
}

li > span {
    color: #E1E1E1 !important;
}

tab {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1
}

.tabs .tab {
    display: inline-block;
    text-align: center;
    line-height: 48px;
    height: 48px;
    padding: 0;
    margin: 0;
    text-transform: uppercase
}

.tabs .tab a {
    color: rgba(238, 110, 115, 0.7);
    display: block;
    width: 100%;
    height: 100%;
    padding: 0 24px;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-transition: color .28s ease, background-color .28s ease;
    transition: color .28s ease, background-color .28s ease
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
    background-color: rgba(246, 178, 181, 0.2);
    outline: none
}

.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #ee6e73
}

.tabs .tab.disabled a, .tabs .tab.disabled a:hover {
    color: rgba(238, 110, 115, 0.4);
    cursor: default
}

.tabs .indicator {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #f6b2b5;
    will-change: left, right
}

@media only screen and (max-width: 992px) {
    .tabs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .tabs .tab {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
    }
}

@media only screen and (max-width: 992px) {
    .tabs {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex
    }

    .tabs .tab {
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1
    }

    .tabs .tab a {
        padding: 0 12px
    }
}

.material-tooltip {
    padding: 10px 8px;
    font-size: 1rem;
    z-index: 2;
    background-color: transparent;
    border-radius: 2px;
    color: #fff;
    min-height: 36px;
    line-height: 120%;
    opacity: 0;
    position: absolute;
    text-align: center;
    max-width: calc(100% - 4px);
    overflow: hidden;
    left: 0;
    top: 0;
    pointer-events: none;
    visibility: hidden;
    background-color: #323232
}

.backdrop {
    position: absolute;
    opacity: 0;
    height: 7px;
    width: 14px;
    border-radius: 0 0 50% 50%;
    background-color: #323232;
    z-index: -1;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    visibility: hidden
}

.btn-filter-do{
    background-color: #8e24aa;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 15px;
    border-color: #8e24aa;
}

.search{
    margin-left: 10px;
}

.filter{
    margin: 10px;
}

.filter-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    background-color: rgb(31, 31, 31);
    border: 2px solid #000;
    box-shadow: 24;
    padding: 16px; 
    color: white;
}

.validate{
    z-index: -1;
}

.select-dropdown{
    z-index: 2;
}

li{
    z-index: 2;
}

.input-field col s4{
    z-index:-1;
}

label{
    z-index: 0;
}

option{
    z-index: 2;
}

.select-wrapper{
    z-index: 1;
}

.disabled{
    z-index: 1;
}

.empty-do{
    padding: 20px;
    color: white;
    font-size: 20px;
    text-align: center;
    background-color: #323232;
    border-radius: 10px;
    font-weight: bold;
    margin: 10px;
}

.modal-footer{
    text-align: right;
}

.edit-content-box{
    display: flex;
}

.info-edit-box{
    width: 50%;
}

.form-edit-box{
    width: 75%;
    margin-left: 10px;
    padding: 10px;
}

.btn-filter-do{
    font-size: 17px;
}

.modal-content{
    z-index: 1005;
}

#create-modal{
    z-index: 102;
}